<div class="content-container">
    <div>
        <button mat-stroked-button>
            <mat-icon>arrow_back</mat-icon>
            Back
        </button>
    </div>
    <mat-card>
        <mat-card-title>Edit user</mat-card-title>
        <mat-card-content>
            <div class="avatar-upload-container">
                <label>
                    <form method="post" action="" enctype="multipart/form-data">
                        <input class="fileInput" type="file" value="Change avatar" name="file" onchange="this.form.submit()" accept="image/*">
                    </form>
                    <figure class="avatar-figure">
                        <img src="./assets/images/defaultAvatar.png"
                             class="avatar-image" alt="userAvatar"
                        />
                        <figcaption class="avatar-action-caption">
                            <img src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png">
                        </figcaption>
                    </figure>
                </label>
            </div>

            <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="full-width-input">
                    <mat-label>First name</mat-label>
                    <input matInput placeholder="First Name" formControlName="firstName" required>

                    <mat-error *ngIf="getFormControl('firstName')?.hasError('pattern') &&
                                !getFormControl('firstName')?.hasError('required')">
                        Last name can only contain letters, numbers, and spaces
                    </mat-error>

                    <mat-error *ngIf="getFormControl('firstName')?.hasError('required')">
                        First name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width-input">
                    <mat-label>Last name</mat-label>
                    <input matInput placeholder="Last Name" formControlName="lastName" required>

                    <mat-error *ngIf="getFormControl('lastName')?.hasError('pattern') &&
                                !getFormControl('lastName')?.hasError('required')">
                        Last name can only contain letters, numbers, and spaces
                    </mat-error>

                    <mat-error *ngIf="getFormControl('lastName')?.hasError('required')">
                        Last name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width-input">
                    <mat-label>Email</mat-label>
                    <input matInput readonly placeholder="Email" formControlName="email">
                </mat-form-field>

                <mat-form-field class="full-width-input">
                    <mat-label>Role</mat-label>
                    <input matInput placeholder="Role" formControlName="role" readonly>
                </mat-form-field>

                <div class="form-text-field">
                    Email confirmed:<strong> {{getFormControl('emailConfirmed')?.value }}</strong>
                </div>

                <button mat-raised-button color="primary" type="submit">Submit</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
