<div class="content-container">
    <div>
        <button mat-stroked-button backButton>
            <mat-icon>arrow_back</mat-icon>
            Back
        </button>
    </div>
    <mat-card class="form-card">
        <mat-card-header class="form-card-header">
            <mat-card-title class="form-card-tittle">Edit user</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <app-user-avatar-uploader
                [image]="userAvatar"
                (imageUploadedEvent)="onImageUploadedEvent($event)"/>

            <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="form-card-field full-width-field field-bottom-margin">
                    <mat-label>First name</mat-label>
                    <input matInput placeholder="First Name" formControlName="firstName" required>

                    <mat-error *ngIf="getFormControl('firstName')?.hasError('pattern') &&
                                !getFormControl('firstName')?.hasError('required')">
                        Last name can only contain letters, numbers, and spaces
                    </mat-error>

                    <mat-error *ngIf="getFormControl('firstName')?.hasError('required')">
                        First name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-card-field full-width-field field-bottom-margin">
                    <mat-label>Last name</mat-label>
                    <input matInput placeholder="Last Name" formControlName="lastName" required>

                    <mat-error *ngIf="getFormControl('lastName')?.hasError('pattern') &&
                                !getFormControl('lastName')?.hasError('required')">
                        Last name can only contain letters, numbers, and spaces
                    </mat-error>

                    <mat-error *ngIf="getFormControl('lastName')?.hasError('required')">
                        Last name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-card-field full-width-field field-bottom-margin">
                    <mat-label>Email</mat-label>
                    <input matInput readonly placeholder="Email" formControlName="email">
                </mat-form-field>

                <mat-form-field class="form-card-field full-width-field field-bottom-margin">
                    <mat-label>Role</mat-label>
                    <input matInput placeholder="Role" formControlName="role" readonly>
                </mat-form-field>

                <div class="field-bottom-margin form-card-text">
                    Email confirmed:<strong> {{getFormControl('emailConfirmed')?.value }}</strong>
                </div>

                <div class="form-actions">
                    <button mat-stroked-button
                            color="warn"
                            [disabled]="!anyChanges"
                            (click)="setUserDataToFormFields()"
                            class="button-right-margin">
                        Reset
                    </button>

                    <button mat-raised-button
                            color="primary"
                            type="submit"
                            [disabled]="!anyChanges">
                        Submit
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
