@import "../../../../variables";

.timer-container {
    display: flex;
    font-size: 18px;
    color: black;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px 10px;
}

.timer-warn {
    color: $warn;
    border-color: $warn;
}
