<div class="items-list">
    <div class="list-header">
        <app-filters class="filters"
                     [selectFilters]="selectFilters"
                     [sortCriterias]="sortCriterias">
        </app-filters>

        <app-view-mode-toggle class="toggle-buttons"/>
    </div>

    <div *ngIf="(viewMode$ | async) == 'list'; else gridViewMode">
        <div *ngFor="let user of users">
            <app-user-item [user]="user" (deleteUserEvent)="onDeleteUser($event)"></app-user-item>
        </div>
    </div>

    <ng-template #gridViewMode>
        <div class="items-list-grid-container">
            <div *ngFor="let user of users">
                <app-user-item [user]="user" (deleteUserEvent)="onDeleteUser($event)"></app-user-item>
            </div>
        </div>
    </ng-template>


    <app-paginator *ngIf="pagedListOfUsers != null"
                   [length]="pagedListOfUsers.totalCount"
                   [pageIndex]="pagedListOfUsers.page - 1"
                   [pageSize]="pagedListOfUsers.pageSize"/>
</div>
