<h2 mat-dialog-title>Change password</h2>
<mat-dialog-content>
    <form [formGroup]="changePasswordForm" class="form-card">
        <mat-form-field class="form-card-field full-width-field field-bottom-margin">
            <mat-label>Current password</mat-label>
            <input matInput type="password" placeholder="Current Password" formControlName="currentPassword">

            <mat-error *ngIf="getFormControl('currentPassword')?.hasError('required')">
                Current password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-card-field full-width-field field-bottom-margin">
            <mat-label>Create new password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="newPassword">

            <mat-error *ngIf="getFormControl('newPassword')?.hasError('required')">
                New password is <strong>required</strong>
            </mat-error>

            <mat-error *ngIf="getFormControl('newPassword')?.hasError('pattern') &&
                                !getFormControl('newPassword')?.hasError('required')"
                       class="password-requirements">
                Password must have:
                <li>At least 8 characters</li>
                <li>At least one digit</li>
                <li>At least one upper and lower case characters</li>
                <li>At least one non alphanumeric character</li>
            </mat-error>

            <mat-error *ngIf="getFormControl('confirmNewPassword')?.hasError('passwordsMismatch') &&
                                      !getFormControl('confirmNewPassword')?.hasError('required')">
                Passwords must <strong>match</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-card-field full-width-field field-bottom-margin">
            <mat-label>Confirm new password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" formControlName="confirmNewPassword">

            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="getFormControl('confirmNewPassword')?.hasError('passwordsMismatch') &&
                                      !getFormControl('confirmNewPassword')?.hasError('required')">
                Passwords must <strong>match</strong>
            </mat-error>

            <mat-error *ngIf="getFormControl('confirmNewPassword')?.hasError('required')">
                Confirm new password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button class="button-secondary" (click)="onCancelClick()">
        Cancel
    </button>
    <button mat-raised-button color="primary" class="button-primary" (click)="onFormSubmit()">
        Submit
    </button>
</mat-dialog-actions>
