<div *ngIf="!isFetching" class="items-list">
    <app-filters
        [selectFilters]="selectFilters"
        [sortCriterias]="sortCriterias"
        (filterChange)="onFilterChange($event)">
    </app-filters>

    <div *ngFor="let test of startedTests">
        <app-started-test-item
            [startedTest]="test"
            (checkOutResultEvent)="onCheckOutTestResultsEvent($event)"/>
    </div>

    <app-paginator *ngIf="pagedList != null"
                   [length]="pagedList.totalCount"
                   [pageIndex]="pagedList.page - 1"
                   [pageSize]="pagedList.pageSize"
                   (pageChangedEvent)="onPageChangedEvent($event)"
    />
</div>

<mat-spinner *ngIf="isFetching"/>
