.content-container {
    padding: {
        top: 1%;
        left: 15%;
        right: 15%;
        bottom: 1.5%;
    }
    margin: 0 auto;
}

.form-card {
    margin: 0 auto;

    .form-card-header {
        margin-bottom: 1px;
    }



    .email-field {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        margin-bottom: 15px;

        .field-bottom-margin {
            margin-bottom: 5px;
        }
    }

    .change-password-container {
        display: flex;
        justify-content: start;
        margin-bottom: 10px;
    }
}
