.page-container {
    padding: 10% 1rem;

    .page-content {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        color: #444444;

        h1 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 18px;
            font-weight: 300;
        }
    }
}
