@use '@angular/material' as mat;

.content-container {
    padding: 0 0 40px 0;

    .back-button-container {
        margin-bottom: 5px;
    }
}

.form-card {
    max-width: max-content;
    text-align: start;

    .form-card-header {
        justify-content: start;
        margin-bottom: 25px;

        .form-card-tittle {
            font-size: 28px;
        }
    }

    .form-card-field {
        margin-right: 10px;
    }

    .number-field {
        width: 220px;

        .number-input::-webkit-outer-spin-button,
        .number-input::-webkit-inner-spin-button {
            display: none;
        }
    }

    .form-actions {
        display: flex;
        flex-direction: row;
        justify-content: start;

        button[type='submit'] {
            width: 100px;
        }
    }
}

.questions-container {
    padding: 10px;
    margin-top: 20px;
    max-width: max-content;

    .question-card {
        max-width: max-content;
        background-color: #F4F4F4 !important;
        margin-bottom: 15px;

        .question-card-content {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            flex-wrap: wrap;

            .question-fields {
                display: flex;
                flex-direction: row;
                align-items: start;
                justify-content: start;

                .form-card-field {
                    @include mat.all-component-densities(-4);
                }

                .text-area-field {
                    width: 400px;
                }

                .number-field {
                    width: 155px;
                }
            }

            .answers-card {
                margin-top: 10px;
                background-color: #FFFFFF !important;

                .answer-card-content {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    padding: 5px 10px;

                    .answer-field {
                        width: 350px;
                        margin-right: 10px;
                        @include mat.all-component-densities(-6);
                    }
                }
            }
        }
    }
}









