.page-container {
    padding: 10% 1rem;

    .page-content {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        color: #444444;

        h1 {
            font-size: 100px;
            font-weight: 500;
            margin-bottom: 40px;
        }

        h2 {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 0;
        }

        h3 {
            font-size: 14px;
            font-weight: 200;
        }
    }
}


