<div class="avatar-upload-container">
    <label>
        <form method="post" action="" enctype="multipart/form-data">
            <input class="fileInput"
                   type="file"
                   value="Change avatar"
                   name="file"
                   accept="image/*"
                   (change)="onFileChange($event)">

        </form>
        <figure class="avatar-figure">
            <img *ngIf="!showDefaultImage" [src]="imageUrl" class="avatar-image" (error)="showDefault()" alt="userAvatar" />

            <img *ngIf="showDefaultImage" src="./assets/images/default-avatar.png" class="avatar-image" alt="userAvatar" />

            <figcaption class="avatar-action-caption">
                <img
                    src="./assets/images/camera-white.png">
            </figcaption>
        </figure>
    </label>
</div>
