<mat-card class="list-item-card">
    <mat-card-header class="list-item-card-header">
        <mat-card-title>{{ test.name }}</mat-card-title>
        <button *ngIf="test.templateId"
                mat-raised-button
                class="orange-button"
                [routerLink]="['/admin', 'test-templates', test.templateId, 'edit']">
            <mat-icon>bookmark</mat-icon>
            From template
        </button>
    </mat-card-header>

    <mat-divider class="list-item-card-divider"></mat-divider>
    <mat-card-content class="list-item-card-content">
        <p><strong>Subject:</strong> {{ test.subject }}</p>
        <p><strong>Difficulty:</strong> {{ test.difficulty }}</p>
        <p><strong>Duration:</strong> {{ test.duration }} min</p>
        <p><strong>Published:</strong> {{ test.isPublished }}</p>
    </mat-card-content>

    <mat-card-footer class="list-item-card-footer">
        <mat-card-actions class="list-item-card-actions">
            <button mat-raised-button
                    color="primary"
                    [routerLink]="[test.id, 'edit']">
                Edit
            </button>
            <button mat-raised-button color="warn" (click)="onDeleteTest(test)">Delete</button>
            <button *ngIf="!test.isPublished" mat-raised-button class="green-button"
                    (click)="onUpdatePublishedStatus(test)">
                Publish
                <mat-icon>public</mat-icon>
            </button>
            <button *ngIf="test.isPublished" mat-raised-button class="green-button"
                    (click)="onUpdatePublishedStatus(test)">
                Hide
                <mat-icon>public</mat-icon>
            </button>
        </mat-card-actions>
        <div class="list-item-card-metadata">
            <mat-card-subtitle>Created
                on: {{ test.createdTimestamp | dateTimeFormat}}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="test.modifiedTimestamp">Last
                Modified: {{ test.modifiedTimestamp | dateTimeFormat }}</mat-card-subtitle>
        </div>
    </mat-card-footer>
</mat-card>
