.page-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center horizontally */


    .statistics {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        .stat-card {
            background-color: #fff;
            padding: 10px 20px;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-right: 20px;
            font-size: 18px;
        }
    }

    .chart-container {
        margin-top: 20px;
        width: 400px
    }
}
