.content-container {
    height: 90%;
    margin: 0;

    .side-nav-container {
        width: 250px;

        .sidenav-item-header {
            font-size: 18px;
        }
    }

    .sidenav-content {
        padding: 10px 100px 10px 40px;
    }
}
