<div class="page-content">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <h1 class="form-title">Forgot Password</h1>

                <div class="form-subtitle">
                    <span>No worries, We'll send you instructions for reset</span>
                </div>

                <p *ngIf="errorMessage != null">{{errorMessage}}</p>

                <mat-form-field class="full-width-input" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter your email" type="email" formControlName="email">

                    <mat-error *ngIf="getFormControl('email')?.hasError('email') &&
                                !getFormControl('email')?.hasError('required')">
                        Please enter a valid email address
                    </mat-error>

                    <mat-error *ngIf="getFormControl('email')?.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <p *ngIf="emailSentSuccess">Email sent successfully</p>

                <div class="form-actions">
                    <button mat-raised-button color="primary" type="submit">Reset Password</button>
                    <button mat-stroked-button color="primary" type="submit" backButton>Back</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>



