<div class="list-item">
    <mat-card>
        <mat-card-title>{{ user.email }}</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p><strong>First name:</strong> {{ user.firstName }}</p>
            <p><strong>Last name:</strong> {{ user.lastName }}</p>
            <p><strong>Role:</strong> {{ user.userRole }}</p>
        </mat-card-content>
        <mat-card-footer>
            <div class="footer-content">
                <mat-card-actions>
                    <button mat-raised-button color="primary" [routerLink]="[user.id, 'edit']">Edit</button>
                    <button mat-raised-button color="warn" (click)="onDeleteUser(user)">Delete</button>
                </mat-card-actions>
                <div class="metadata">
                    <mat-card-subtitle>Created on: {{ user.createdTimestamp | date: "dd.MM.YYYY hh:mm"}}</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="user.modifiedTimestamp">
                        Last Modified: {{ user.modifiedTimestamp | date: "dd.MM.YYYY hh:mm" }}
                    </mat-card-subtitle>
                </div>
            </div>
        </mat-card-footer>
    </mat-card>
</div>

