$secondary: #4CAF50;
$accent: #FFA500;
$warn: #FF0000;

$question-correct: #008000;
$question-wrong: $warn;
$question-partially-correct: #FFA500;
$question-answered: #6A727D;

$link-dark: #1D75C5;
$link-default: #007bff;
$link-hover: #0056b3;

$primary-white: #FFFFFF;
$secondary-white: #F5F5F5;
$tertiary-white: #ECECEC;

$error-font-color: #444444;
